* {
   box-sizing: border-box;
   list-style-type: none;
   padding: 0;
   margin: 0;
}

nav {
  overflow: auto;
  padding: 6px 20px;
  height: 60px;
  background-color: #313E46;
  .nav-left {
    zoom: 0.51;
    float: left;
  }
  .nav-right {
    float: right;
    overflow: auto;
    padding: 15px;
    color: #B9BABB;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: lighter;

    ul li {
      display: inline;
      padding-left: 60px;
      border: 1px solid red;
      span {
        color: #FDFDFD;
        padding-left: 10px;
      }

      .nav-list:hover {
        transition-property: background;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;

        color: white;
        background:yellow;
        transition: 0.5s;
      }
    }

  }
}
