$mainfont: "Oswald", sans-serif;

* {
   box-sizing: border-box;
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.bold {
  font-weight: bold;
}

.container-main {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

nav {
  position: fixed !important;
  z-index: 1;
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
  .nav-left {
    padding-top: 5px;
    float: left;
    img {
      zoom: 0.51;
    }
  }
  .nav-right {
    float: right;
    overflow: auto;
    padding-top: 17px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: lighter;

//top navbar menu items
    ul li {
      display: inline;
    }
    a {
      color: #B9BABB;
      text-decoration: none !important;
      padding: 0 25px;
    }
    span a {
      color: #FDFDFD;
      text-decoration: none !important;
    }
    a:hover {
      background-color: rgba(255, 255, 255, 0.2);
      color: white;
      padding: 50px 25px 25px;
      transition-property: color;
      transition-timing-function: ease-in;
      transition-duration: 0.2s;
      text-decoration: none !important;
    }
    .notice {
      position: relative;
    }
    .notice:hover {
      color: #0DA5DD;
      text-decoration: none !important;
      background: inherit;
    }
    .num-circle {
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background: red;
      color: white;
      font-size: 12px;
      text-align: center;
      position: absolute;
      right: 70px;
      top: 20px;
    }
  }
}

.main-content {
  padding: 50px 60px;
  // flex: 1;
}

.nav2 {
  padding: 60px 0px 10px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;

  a {
    color: #45ACD6;
  }
  a:hover {
    color: #2A7B9A;
  }
  img {
    height: auto;
    width: auto;
    max-height: 30px;
    max-width: 30px;
  }
}

.card {
  margin-bottom: 20px;
}
.card-header {
  color: white;
  font-family: $mainfont;
}

#nopadding {
  padding: 0;
}

.grey {
  background: #EEEEEE;
}

.card-block {
  display: flex;
}

.box {
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid lightgrey;
  max-width: 122px;
  height: 150px;
  height: auto;
  width: auto;
  margin: 0;
  .check {
    padding-left: 70px;
  }
  .icon {
    margin-top: -20px;
    padding-bottom: 5px;
  }
  p {
    padding: 5px 15px 4px;
    a:hover {
      color: black;
    }
  }
  a:hover {
    color: #2A7B9A;
    text-decoration: none;
  }
  .percent {
    color: black;
    padding-top: 20px;
    margin-top: 0;
    background: #FFFFFF;
  }
}

//hides side-nav-content
.hide {
  display: none;
  height: 0px;
}

.side-nav-content {
  overflow: auto;
  padding: 30px 80px;
  font-size: 15px;
  button {
    border: none;
    outline: none;
  }
  .range {
    position: relative;
    height: 5px;
    margin-bottom: 120px;
    .range input {
      width: 550px;
      position: absolute;
      top: 2px;
    }
    .range-labels {
      padding-top: 10px;
      width: 550px;
      display: flex;
      justify-content: space-between;
    }
  }
  .loan-amt-rate {
    display: flex;
    width: 550px;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
    .loanbox {
      margin: 0 30px;
    }
    .ratebox {
      margin: 0 30px;
    }
  }
  .card {
    margin-top: 30px;
    .card-header {
      background: #CBCBCB;
      font-family: $mainfont;
      text-align: left;
    }
    .row {
      text-align: left;
    }
  }
  .card-footer {
    background: none;
    font-size: 13px;
    .title {
      font-family: $mainfont;
    }
    .button {
      background: none;
      border: none;
      color: #00A1D0;
      outline: none;
      padding-bottom: 35px;
    }
    .button:hover {
      text-decoration: underline;
    }
  }
  #loan-edit {
    padding-top: 20px;
  }
  .select {
    font: inherit;
    height: 40px;
    line-height: 40px;
    background: white;
    padding-right: 60px;
    border: 1px solid #DDDDDD;
  }
  .none {
    background: white;
    padding-right: 60px;
    color: black;
    .none:hover {
      background: white;
    }
  }
  .btn {
    margin-top: 40px;
    padding-right: 100px;
    padding-left: 50px;
  }
  .btn-warning {
    background: #FF6200;
    padding: 6px 40px;
    border-radius: 0;
  }
}

.btn-save {
  background: #FF6200;
  color: white;
  font-family: $mainfont;
  border-radius: 0;
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: lighter;
}

.right {
  float: right;
}

footer {
  width: 100%;
  height: 20%;
  bottom: 0;
  //this contains site nav map
  .footer-box1 {
    font-size: 14px;
    overflow: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
    .footer-left {
      padding: 0 30px;
      background: #292B2C;
      img {
        zoom: 0.51;
      }
      .social {
        padding: 0 30px;
      }
    }
    .footer-center {
      display: flex;
      align-items: flex-start;
      h6 {
        color: white;
        font-weight: bold;
      }
      a {
        color: #BBBBBB;
      }
    }
    .footer-right {
      float: left;
      clear: both;
      .security {
        zoom: 0.71;
        padding-bottom: 15px;
      }
    }
  }

  //this contains copyright and legal info.
  .footer-box2 {
    padding: 10px 60px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 11px;
    .copyright {
      padding-bottom: 40px;
    }
    p span {
      color: #456D82;
      font-size: 14px;
    }
  }
}
