* {
   box-sizing: border-box;
   list-style-type: none;
   text-decoration: none;
   padding: 0;
   margin: 0;
}

nav {
  overflow: auto;
  padding: 6px 20px;
  height: 60px;
  background-color: #313E46;
  .nav-left {
    zoom: 0.51;
    float: left;
  }
  .nav-right {
    float: right;
    overflow: auto;
    padding: 15px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: lighter;

    ul li {
      display: inline;
      padding-left: 60px;
      border: 1px solid red;
      text-decoration: none;
    }
    .nav-list a {
      color: #B9BABB;
    }
    span a {
      color: #FDFDFD;
    }
    .nav-list:hover {
      transition-property: background;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;

      color: white;
      opacity: 0.6;
      transition: 0.5s;
    }
  }
}

.nav2 {
  padding: 60px 120px;

  .nav2-left {
    float: left;
    a {
      color: #45ACD6;
    }
  }
  .nav2-right {
    zoom: .1;
    float: left;
  }
}
